/*Adding a black background to the navagation tool bar */
.topnav {
    background: gray;
    display: flex;
    justify-content: space-around;
    min-height: 8vh;
    height: 10%;
    margin: 0;
    padding: 0;
}
.topnav h1{
    color:black;

}

.topnav a {
  color: #f17c58;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 30px;
}

.logo {
    left: 0%;
    height: 150px;
    width: 150px;
}

.prof {
  /*profile picture*/
  height: 75px;
  width: 75px;
  border-radius: 90%;
}

.topnav form {
  width: 320px;
  height: 120px;
  color: #fff;
}













/*This is mobile section*/
.burger {
  display: none;
}
.burger div {
  width: 25px;
  height: 5px;
  margin: 5px;
  background-color: black;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .topnav {
    background: gray;
    display: flex;
    justify-content: space-around;
    align-content: center;
    min-height: 8vh;
    height: 22%;
    width: 100%;
    top: 0%;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 20vh;
  }
  #logo img {
    width: 130px;
    height: 130px;
    position: absolute;
    top: 5%;
    left: 1.5%;
  }
  #content img {
    /*profile picture*/
    position: absolute;
    top: 7%;
    left: 78%;
    height: 100px;
    width: 100px;
    border-radius: 90%;
  }
  .nav-links li {
    list-style: none;
  }

  .nav-links a {
    color: lightsalmon;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 14px;
  }
}
