/*Adding a black background to the navagation tool bar */
.topnav {
  background: gray;
  display:flex;
  justify-content: space-around;
  align-content: center;
  min-height: 8vh;
  height: 25%;
  width: 100%;
  top:0%;

}

#logo img{
  width: 300px;
  height:300px;
  position: absolute;
  top:-3%;
  left:.48%;
}

.nav-links{
  display:flex;
  justify-content: space-around;
  width:55%;

}

.nav-links li{
  list-style: none;
}

.nav-links a{
  color: #f17c58;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight:bold;
  font-size: 25px;
}

.image {
  display: inline;
  padding: 0px;
  margin: 0px;
  float: left;
  border: 0px;
  position: absolute;
  left: 0%;
}

#content img { /*profile picture*/
  position: absolute;
  top: 7%;
  left:78%;
  height: 125px;
  width: 125px;
  border-radius: 90%;
}

#slideA img {
  position: absolute;
  display:inline;
  top: 35%;
  left: 0%;
  height: 370px;
}

#slideB img {
  position: absolute;
  display:inline;
  top: 35%;
  left: 33%;
  height: 370px;
}

#slideC img {
  position: absolute;
  display:inline;
  top: 35%;
  left: 66%;
  height: 370px;
}

.logInBox{
  width: 320px;
  height: 120px;
  color: #fff;
  top: 8%;
  left: 94%;
  position : absolute;
  transform: translate(-50%, -50%);
}


/* Style the links inside the navigation bar 
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover 
.topnav a:hover {
  background-color: gray;
  color: black;
}

/* Add a color to the active/current link 
.topnav a.active {
  background-color: black;
  color: white;
}

*/
.burger{
  display:none;
}
.burger div{
  width:25px;
  height:5px;
  margin:5px;
  background-color: black;
}

@media screen and (max-width:1024px){
  .nav-links{
    display:flex;
    justify-content: space-around;
    width:80%;
  }
}

@media screen and (max-width:768px){
  .topnav {
    background: gray;
    display:flex;
    justify-content: space-around;
    align-content: center;
    min-height: 8vh;
    height: 22%;
    width: 100%;
    top:0%;
  
  }
  .nav-links{
    position:absolute;
    right:0px;
    height: 92vh;
    top:20vh;
  }
  #logo img{
    width: 130px;
    height:130px;
    position: absolute;
    top:5%;
    left:1.5%;
  }
  #content img { /*profile picture*/
    position: absolute;
    top: 7%;
    left:78%;
    height: 100px;
    width: 100px;
    border-radius: 90%;
  }
  .nav-links li{
    list-style: none;
  }
  
  .nav-links a{
    color: lightsalmon;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight:bold;
    font-size: 14px;
  }
    
}